@model DTO.EntityDTO.MessageDTO
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<html>
<body>
    <!-- contact -->
    <div class="about">
        <div class="w3_agileits_contact_grids">
            <div class="col-md-6 w3_agileits_contact_grid_left">
                <div class="agile_map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.3905851087434!2d-34.90500565012194!3d-8.061582082752993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab18d90992e4ab%3A0x8e83c4afabe39a3a!2sSport+Club+Do+Recife!5e0!3m2!1sen!2sin!4v1478684415917" style="border:0"></iframe>
                </div>
            </div>
            <div class="col-md-6 w3_agileits_contact_grid_right">

                <h1>Mesaj yazın</h1>
                <form asp-controller="Contact" asp-action="Index"  method="post">
                    <span class="input input--ichiro">
                        <input class="input__field input__field--ichiro" type="text" id="input-25" name="Name" asp-for="Name" placeholder=" " required="" />
                        <label class="input__label input__label--ichiro" for="input-25">
                            <span class="input__label-content input__label-content--ichiro">Adınız</span>
                        </label>

                    </span>
                    <textarea name="Description" asp-for="Description" placeholder="Mesajınız..." required=""> @Model.Description </textarea>
                    <input  type="submit" value="Göndər">
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- contact -->
</body>
</html>

