@model DTO.EntityDTO.CategoryDTO

@{
    ViewData["Title"] = "CategoryAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="agile-grids">
    <!-- input-forms -->
    <div class="grids">
        <div class="progressbar-heading grids-heading">
            <h2>Kateqoriya Formu</h2>
        </div>
        <div class="panel panel-widget forms-panel">
            <div class="forms">
                <div class="form-grids widget-shadow" data-example-id="basic-forms">
                    <div class="form-title">
                    </div>
                    <div class="form-body">
                        <form  method="post">
                            <div class="form-group">
                                <label for="exampleInputFile">Kateqoriya adi</label>
                                <input type="text" asp-for="Name" class="form-control" id="exampleInputFile">
                            </div>

                            <button type="submit" class="btn btn-primary w3ls-button">Elave et</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- //input-forms -->
    </div>
</div>
   
