
@{
    Layout = null;
}

<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<partial name="~/Views/Partials/_Head.cshtml" />
	
<body>



	@RenderBody()


	<!-- //footer -->
	<!-- Bootstrap Core JavaScript -->
	<partial name="~/Views/Partials/_Script.cshtml" />
</body>
</html>
