
<ul id="demo1">
	<li>
		<img src="~/web/images/11.jpg" alt="" />
		<!--Slider Description example-->
		<div class="slide-desc">
			<h3>Özəl kompaniyalar</h3>
		</div>
	</li>
	<li>
		<img src="~/web/images/22.jpg" alt="" />
		<div class="slide-desc">
			<h3>Müştəri məmnuniyyəti bizim üçün önəmlidir</h3>
		</div>
	</li>

	<li>
		<img src="~/web/images/44.jpg" alt="" />
		<div class="slide-desc">
			<h3>Bizi seçdiyiniz üçün təşəkkürlər</h3>
		</div>
	</li>
</ul>