@model IEnumerable<DTO.EntityDTO.MessageDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<!-- //breadcrumbs -->




<div class="products">
	<div class="container">
		<div class="agileinfo_single">

			@foreach(var item in Model)
			{
			<div class="col-md-8 agileinfo_single_right">
				<h3>@item.Name</h3>
				
				<div class="w3agile_description">
						<h5>Mesaj:   <a>@item.Description  </a>   </h5>
				
				</div>
				
			</div>
				
			}
			<div class="clearfix"> </div>
		</div>
	</div>
</div>


