@model IEnumerable<DTO.EntityDTO.ProductDTO>
@{
    ViewData["Title"] = "Page";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}



    <div role="tabpanel" class="tab-pane fade in active" id="expeditions" aria-labelledby="expeditions-tab">

        <div class="agile_top_brands_grids">
            @foreach (var item in Model)
            {

                <div class="col-md-4 top_brand_left">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid">
                            <div class="agile_top_brand_left_grid_pos">
                                <img src="~/web/images/offer.png" alt=" " class="img-responsive" />
                            </div>
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            <a href="products.html"><img title=" " alt=" " src="@item.Image" /></a>
                                            <p>@item.Name</p>
                                            <div class="stars">
                                                @for (int i = 0; i < Convert.ToDecimal(item.Rate); i++)
                                                {
                                                    <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                                }
                                                @*           @for (int i = 0; i <5- Convert.ToDecimal(item.Rate); i++)
                                            {
                                            <i class="fas-regular fa-star blue-star" aria-hidden="true"></i>
                                            } *@


                                            </div>
                                            <h4>@item.DisCount Azn <span>@item.Price Azn</span></h4>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details">
                                            <form action="#" method="post">
                                                <fieldset>
                                                    <input type="hidden" name="cmd" value="_cart" />
                                                    <input type="hidden" name="add" value="1" />
                                                    <input type="hidden" name="business" value=" " />
                                                    <input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
                                                    <input type="hidden" name="amount" value="20.99" />
                                                    <input type="hidden" name="discount_amount" value="1.00" />
                                                    <input type="hidden" name="currency_code" value="USD" />
                                                    <input type="hidden" name="return" value=" " />
                                                    <input type="hidden" name="cancel_return" value=" " />
                                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"> </div>
        </div>

    </div>


